K3S_TOKEN={{ k3s_token }}
K3S_DATASTORE_ENDPOINT={{ k3s_datastore_endpoint }}
K3S_DATASTORE_KEYFILE={{ k3s_datastore_keyfile }}
K3S_DATASTORE_CAFILE={{ k3s_datastore_cafile }}
K3S_DATASTORE_CERTFILE={{ k3s_datastore_certfile }}
{% if k3s_ha and inventory_hostname == play_hosts[0] %}
K3S_CLUSTER_INIT={{ k3s_ha }}
{% elif k3s_ha %}
K3S_URL={{ k3s_master }}
{% endif %}
